body {
    background-color: white;
    color: black; 
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#name {
    font-size: 18px;
    font-weight: bold;
}

#subscribe {
    padding: 5px 15px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    font-size: 12px;
}

#subscribe:hover {
    background-color: #ffffff;
    color: black;
}

#bio {
    margin: 20px;
}

#writings {
    margin: 20px;
}

#writings ul {
    list-style-type: none;
}

#writings ul li a {
    text-decoration: none;
    color: black;
}

footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

footer a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

#copyright {
    text-align: right;
}
