body {
    font-family: 'Schibsted Grotesk', sans-serif;
    background-color: #002B36;
    color: #657b83;
    font-size: 18px;
    margin: 0px 0px 0px 200px;
}

#logo {
    margin: 200px 0px 0px 0px;
    width: 100px;
    height: 40px;
    color: #cb4b16;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    color: #268bd2;
}

a:hover {
    color: #cb4b16;
}

/* Responsive adjustments */
@media (max-width: 767px) {
    body {
        margin: 0px 0px 0px 20px;
    }

    #logo {
        margin: 200px 0px 0px 0px;
    }
}
